parameters:
    level: max
    bootstrapFiles:
        - ../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - ../vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - ../wpml-stubs.php
    paths:
        - ../wpml-stubs.php
